:root {
    --azul-principal: #0F4C81;
    --azul-claro: #EAF4FC;

    --verde-principal: #2E8B57;
    --verde-hover: #246D45;

    --branco: #FFFFFF;

    --texto: #2C3E50;
    --cinza: #666666;
    --cinza-claro: #F5F7FA;

    --borda: #D9D9D9;

    --sombra: 0 15px 40px rgba(0, 0, 0, .2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

input,
button,
select {
    font-size: 16px;
}